.toolbar {
  width: 50px;
  position: absolute;
  top: 15px;
  left: 30px;
  top: 0;
}

.toolbar-right {
  left: auto;
  right: 30px;
}

.toolbar__button {
  padding: 0;
  background: none;
  width: 60px;
  height: 60px;
  border: none;
  font-size: 28px;
  margin: 5px;
  transition: all ease-in-out 50ms;
}

.toolbar__button:focus {
  outline: none;
}

.toolbar__button:hover,
.toolbar__button.active {
  background: #333;
  color: white;
}

.toolbar .toolbar__button-note:hover,
.toolbar .toolbar__button-note.active {
  background: #d33682;
  color: white;
}

.toolbar .toolbar__button-volume:hover,
.toolbar .toolbar__button-volume.active {
  background: #2aa198;
  color: white;
}

.toolbar .toolbar__button-length:hover,
.toolbar .toolbar__button-length.active {
  background: #6c71c4;
  color: white;
}
