.tile {
  background: white;
  border: 1px solid #333;
  width: 60px;
  height: 60px;
  margin: 5px;
  float: left;
  position: relative;
  padding: 0;
  -webkist-user-select: none;
  -webkist-user-drag: none;
}

.tile:focus {
  outline: none;
}

.tile.highlight {
  background-color: darkgray;
}

